{%extends 'base.html'%}
{%block title%} About{%endblock title%}
{%block body%} 
<nav id="navbar-example2" class="navbar navbar-light bg-light px-3">
    <a class="navbar-brand" href="#">About NSS</a>
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link" href="#scrollspyHeading1">History</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#scrollspyHeading2">Objectives</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">More</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#scrollspyHeading3">Activities</a></li>
          <li><a class="dropdown-item" href="#scrollspyHeading4">Elements</a></li>
          
        </ul>
      </li>
    </ul>
  </nav>
  <div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-offset="0" class="scrollspy-example" tabindex="0">
     <br> <br><h4 style="color:cadetblue; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size:x-large;font-weight: bold;" id="scrollspyHeading1">The History of NSS:</h4>
    <p>National Service Scheme, popularly known as NSS, was formally launched on 24th September, 1969, the birth centenary of the Father of the Nation. National Service Scheme is a student – centered programme and it is complementary to education. It is a noble experiment in academic extension. It inculcates the spirit of voluntary work among students and teachers through sustained community interaction. It brings our academic institutions closer to the society. It is a link between the campus and community, the college and village, knowledge and action. The overall aim of NSS is the Personality Development of students through community service. It gives an extension dimension to Higher Education system and orients the student youth to community service.
        The NSS symbol is embossed on the NSS badge. The NSS volunteers wear it while undertaking any programme of community service.
The Konark wheel in the symbol has eight bars which represent the 24 hours of the day.
The Red colour in the badge indicates that the NSS volunteers are full of blood. i.e. lively, active energetic and full of high spirit.
The Navy Blue colour indicates the cosmos of which the NSS is a tiny part, ready to contribute its share for the welfare of mankind. NSS was formally launched on 24th September, 1969.
The birth centenary year of the Father of the Nation.
24 September is celebrated every year as NSS Day with appropriate programmes & activities. The logo for the NSS has been based on the giant Rath Wheel of the world famous Konark Sun Temple (The Black Pagoda) situated in Orissa, India. The Red & Blue colors contained in the logo motivate the NSS Volunteers to be active & energetic for the nation-building social activities. The wheel portrays the cycle of creation, preservation and release and signifies the movement in life across time and space, The wheel thus stands for continuity as well as change and implies the continuous striving of NSS for social change. <br><br>
    </p>
    <h4 style="color:cadetblue; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size:x-large;font-weight: bold;" id="scrollspyHeading2">Objectives:</h4> <br>
    <p> <b>The main objectives of National Service Scheme (NSS) are : </b> <br>
        
        i. understand the community in which they work <br>
        ii. understand themselves in relation to their community <br>
        iii. identify the needs and problems of the community and involve them in problem-solving <br>
        iv. develop among themselves a sense of social and civic responsibility <br>
        v. utilise their knowledge in finding practical solutions to individual and community problems <br>
        vi. develop competence required for group-living and sharing of responsibilities <br>
        vii. gain skills in mobilising community participation <br>
        viii. acquire leadership qualities and democratic attitudes <br>
        ix. develop capacity to meet emergencies and natural disasters and <br>
        x. practise national integration and social harmony <br></p> <br>
    <h4 style="color:cadetblue; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size:x-large;font-weight: bold;" id="scrollspyHeading3">Types of Activities:</h4> <br>
    <p> <b>There are two types of activities: </b> <br> Regular Activities(120 hours) and Annual Special Camp(120 hours). All the NSS Volunteers who have served NSS for at least 2 years and have performed 240 hours of work under NSS are entitled to a certificate from the university under the signature of the Vice-Chancellor and the Programme Coordinator. The Annual camps are known as Special Camps. Camps are held annually, funded by the government of India, and are usually located in a rural village or a city suburb. Volunteers may be involved in such activities as: <br>

        <ol>
            <li>Cleaning</li>
        <li>Afforestation</li> 
        <li>Stage shows or a procession creating awareness of such issues as social problems, education and cleanliness</li>
        <li>Awareness Rallies</li>
        <li>Inviting doctors for health camps</li>
        <li>Community Survey</li></ol>
        There are no predefined or preassigned tasks; it is left up to the volunteers to provide service in any way that is feasible. Camps typically last between a week and 10 days, although camps for shorter periods are also conducted by NSS.</p> <br>
    <h4 style="color:cadetblue; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size:x-large;font-weight: bold;" id="scrollspyHeading4">Key Elements:</h4>
    <p>When it comes to schools and colleges, the National Service Scheme (NSS) unit has its basic unit. 
        The National Service Scheme (NSS) unit that the institutions get is based on their size and student volunteers.
        Generally, the National Service Scheme (NSS) has an approximate of 100 students.
        Programme Officer is the one who is kept in charge of these National Service Scheme (NSS) units. Hence, the Programme Officer has the responsibility to implement the programs and manage everything else. 
        When it comes to the regional level, various local centers of the National Service Scheme (NSS) get made
        The creation of the National Service Scheme (NSS) unit depends upon the state's size and the number of students, etc.
        Assistant Programme Advisor or Deputy Programme Advisor is the person who manages everything on the regional level of the National Service Scheme (NSS)
        When it comes to the state level, the National Service Scheme (NSS) unit is taken care of and managed by the state's Liaison Officer.
        The Government Of the particular state funds the financial support and the expenses for everything else under the National Service Scheme (NSS) unit.
        When it comes to the university level, the National Service Scheme (NSS) cell handles the National Service Scheme (NSS) programs.To join the National Service Scheme (NSS), the students will have to register 
        Moreover, the students must be from a bona fide University or College or School
        Any student who has passed class 10 can become a volunteer in the National Service Scheme
        All the volunteers get a certificate of service under the National Service Scheme after they complete it
        There is no enrolment fee for the students to join as a volunteer
        The students can also avail of a lot of other benefits.</p>
    
   
  </div> {%endblock body%}
