{%extends 'base.html'%}
{%block title%} Services{%endblock title%}
{%block body%} 
<div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
          Emergency aid
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">Volunteers from NSS have donated blood during emergency, and besides blood donation camps conducted by NSS, MMMUT, we made sure to provide emergent availability of oxygen cylinders, beds, ventilators etc. during the peak time of the pandemic. Our team managed to help 300+ people from various parts of te nation. Dressing & medicine during emergency to students and sub staff are being provided by the First Aid Cell of NSS.</div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
          Food Distribution
        </button>
      </h2>
      <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">Our team also conducts regular trips to the nearby underdeveloped villages adopted by our college, and distributes food, stationary items like pens, bag, boxes, uniforms, etc.to the children. Food distribution program is organised on mass level and all the members of the village are invited to attend the meal session. NSS, MMMUT also takes care that the literacy and overall development of the people residing in the adopted villages is improved and to ensure the same, it also conducts surveys and polls.</div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
          TeachIndia Program
        </button>
      </h2>
      <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">NSS in the campus, also organises TeachIndia Program in collaboration with the 'Educate India' NGO from Gurgaon. Students from both the teams unite and successfully conduct various technical and communicational events and also some quiz events like olympiads, crosswords, sudoku, etc. This program runs for atleast 10 days and small workshops, training courses, tutorials and are also held under it. Students enjoy this the most and there is large participation for this event.</div>
      </div>
    </div>
  </div> {%endblock body%}
